* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--third-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

:root {
    --main-color: #333;
    --second-color: rgb(83, 74, 58);
    --third-color: #ccc;
    --fourth-color: #fff;
    --bg-color: #542c11;
}

/* nav section start */
nav {
    width: 100%;
    height: 100px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 2rem;
    font-weight: bold;
}

.social-links i {
    font-size: 1.5rem;
    margin: 0 6px;
}

.logo img {
    transition: .6s;
}

.logo img:hover {
    transform: translateY(-30px);
}

.nav-links a {
    background: var(--second-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: .4s;
}

.nav-links a:hover {
    background: var(--third-color);
    color: var(--main-color);
}

#bars {
    background: var(--third-color);
    color: var(--main-color);
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* nav section end */
/* banner section start */
.banner {
    width: 100%;
    height: calc(100vh - 100px);
    background: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-position: 50% 50%;
    padding: 150px 0 0 150px;
}

.banner-box {
    width: 50%;
    height: auto;
    /* background: pink; */
}

.banner-box h1 {
    color: var(--fourth-color);
    font-size: 3.2rem;
    font-weight: bolder;
    margin: 6px 0;
}

.banner-box p {
    color: var(--fourth-color);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn {
    background: var(--bg-color);
    color: var(--third-color);
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: .4s;
}

.btn:hover {
    background: var(--third-color);
    color: var(--main-color);
    cursor: pointer;
}

/* banner section end */

/* about-us */
.about-us {
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    /* padding: 20px; */
}

.about-us_left,
.about-us_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* flex-direction: column; */
    /* text-align: left; */
}

.about-us_left {
    padding-left: 100px;
}

.about-us_text_group h2 {
    font-weight: bolder;
    font-size: 3rem;
}

.about-us_text_group p {
    margin: 20px 0;
}

/* galley start */
#gallery {
    width: 100%;
    min-height: 100vh;
    background: var(--second-color);
    padding: 50px 30px 30px 30px;
}

#gallery h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.2rem;
}

#gallery p {
    text-align: center;
    margin-bottom: 2.5rem;
}

.gallery_photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery_photos img {
    flex: 1 1 25rem;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* galley end */
/* service start */
#service {
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
    padding: 50px 30px 30px 30px;
}

#service h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#service p {
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 2.5rem;
}

.service-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.service-photos_card {
    flex: 1 1 23rem;
    height: 240px;
    box-shadow: inset 0 0 3px 3px var(--third-color);
    position: relative;
    overflow: hidden;
}

.service-photo_card-img,
.service-photo_card-text {
    position: absolute;
    width: 100%;
    height: 100%;
}

.service-photo_card-img img {
    width: 100%;
    height: 100%;
}

.service-photo_card-text {
    background: #931010d3;
    transition: .5s;
    transform: translateY(-100%);
    /* transform: scale(0); */
    transform-origin: top right;
    /* display: none; */
}

.service-photos_card:hover .service-photo_card-text {
    /* transform: scale(1); */
    transform: translateX(0%);
}

.service-photo_text_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/* service end */
/* ************************************************************-------------media-query------********************************************************************************************************************************************************************************* */
@media (max-width:600px) {
    body {
        overflow-x: hidden;
    }

    nav {
        padding: 0 20px;
    }

    .logo span {
        font-size: 1.2rem;
    }

    #bars {
        display: block;
    }

    .social-links {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: #666;
        padding: 25px 100px;
        transition: .5s;
        transform: translateX(-100%);
    }

    .show {
        transform: translateX(0%);
        /* display: block; */
    }

    .nav-links a {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    /* banner section */
    .banner {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: pink; */
    }

    .banner-box {
        width: 100%;
        text-align: center;
    }

    .banner-box h1 {
        font-size: 2.4rem;
    }

    /* about-us */
    .about-us_left {
        padding: 0px;
    }
}
